<template>
  <div class="home">
    <UsersList />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import UsersList from "@/components/UsersList.vue";

@Component({
  components: {
    UsersList
  }
})
export default class Home extends Vue {}
</script>
