<template>
  <div class="auth-container">
    <b-form :class="{'declined': isError}" inline @submit="login" v-if="!user">
      <label class="sr-only" for="email">Email</label>
      <b-form-input class="mb-2 mr-sm-2 mb-sm-0"
                    id="email"
                    type="email"
                    v-model="form.email"
                    placeholder="john.doe@gone.com"
                    required />
      <label class="sr-only" for="password">Password</label>
      <b-input-group left="@" class="mb-2 mr-sm-2 mb-sm-0">
        <b-form-input id="password"
                      type="password"
                      v-model="form.password"
                      placeholder="Password"
                      required />
      </b-input-group>
      <b-button type="submit" variant="primary">Login</b-button>
    </b-form>
    <b-form inline @submit="logout" v-if="user">
      <b-button type="submit" variant="default">Logout</b-button>
    </b-form>
  </div>

</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import axios from "axios";

import { mapGetters, mapMutations } from 'vuex';

@Component({
  computed: {
    ...mapGetters({
      user: 'getUser',
      token: 'getToken',
    })
  },

  methods: {
    ...mapMutations([
      'updateUser',
      'updateToken'
    ])
  }
})
export default class Login extends Vue {
  private apiUrl: string = 'http://api.helmes.local/v1';

  public form: any = {
    email: '',
    password: '',
  };

  private isError: boolean = false;

  login(event) {
    event.preventDefault();

    this.isError = false;

    axios.post(this.apiUrl + '/login', this.form).then(response => {
      this.$store.commit('updateUser', response.data.user);
      this.$store.commit('updateToken', response.data.token);

      // clearing out the form
      this.form.email = '';
      this.form.password = '';
      },
      error => {
        this.isError = true;
    });
  }

  logout(event) {
    event.preventDefault();
    this.$store.commit('updateUser', null);
    this.$store.commit('updateToken', null);
  }
}
</script>
<style lang="less">
.declined input {
  border: 1px solid red;
}
</style>

