<template>
	<b-navbar type="dark" variant="info">
		<b-navbar-nav class="ml-auto login-container">
			<div class="user-name" v-if="user && token">Hello {{ getUsername() }}</div>
			<Login />
		</b-navbar-nav>
	</b-navbar>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapGetters } from 'vuex';

import Login from "@/components/Login.vue";

@Component({
  components: {
    Login
	},
	computed: {
    ...mapGetters({
      user: 'getUser',
      token: 'getToken'
    })
  }
})
export default class Navbar extends Vue {

	getUsername() {
		return `${(<any>this).user.first_name} ${(<any>this).user.last_name}(${(<any>this).user.email})`
	}
}
</script>
<style lang="less">
.login-container {
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
.user-name {
	display: inline-block;
	margin-right: 2rem;
	color: #fff;
	font-weight: bold;
}
</style>


