<template>
	<b-modal ref="userFormModal" hide-footer :title="title">
		<b-alert variant="danger"
             dismissible
             :show="showAlert"
             @dismissed="showAlert=false">
      You have missed some fields
    </b-alert>
		<b-alert variant="danger"
             dismissible
             :show="showDuplicateAlert"
             @dismissed="showDuplicateAlert=false">
      This email addres is already in use
    </b-alert>
		<b-form @submit="onSubmit" @reset="onReset" v-if="userData">
			<b-form-group id="firstNameGroup"
										label="First Name"
										label-for="firstNameInput">
				<b-form-input id="firstNameInput"
											type="text"
											v-model="userData.first_name"
											placeholder="Enter first name">
				</b-form-input>
			</b-form-group>

			<b-form-group id="lastNameGroup"
										label="Last Name"
										label-for="lastNameInput">
				<b-form-input id="lastNameInput"
											type="text"
											v-model="userData.last_name"
											placeholder="Enter last name">
				</b-form-input>
			</b-form-group>

			<b-form-group id="emailGroup"
										label="Email address"
										label-for="emailInput">
				<b-form-input id="emailInput"
											type="email"
											v-model="userData.email"
											required
											placeholder="Enter email">
				</b-form-input>
			</b-form-group>

			<b-form-group id="passwordGroup"
										label="Password"
										label-for="passwordInput">
				<b-form-input id="passwordInput"
											type="password"
											v-model="userData.password"
											:placeholder="'*'.repeat(10)"
											@click="cleanPasswordInput">
				</b-form-input>
			</b-form-group>

			<b-form-group id="sectorsGroup"
										label="Sectors"
										label-for="sectorsSelection">
				<multiselect v-model="userData.sectors"
											:options="sectors"
											tag-placeholder=""
											placeholder="Search or select a sector"
											label="name"
											track-by="id"
											:multiple="true"
											:taggable="true"
											required></multiselect>
			</b-form-group>
			<b-form-group >
				<b-form-checkbox-group v-model="userData.checked" >
					<b-form-checkbox value="1">Agree to terms</b-form-checkbox>
				</b-form-checkbox-group>
			</b-form-group>
			<b-form-row>
				<b-col>
					<b-button type="submit" variant="primary">Submit</b-button>
				</b-col>
				<b-col>
					<b-button type="reset" variant="danger">Reset</b-button>
				</b-col>
			</b-form-row>
		</b-form>
	</b-modal>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { mapGetters, mapMutations } from 'vuex';
import axios from "axios";

@Component({
  computed: {
    ...mapGetters({
      user: 'getUser',
      token: 'getToken',
      users: 'getUsers'
    })
  },

  methods: {
    ...mapMutations([
      'addUser',
    ])
  }
})
export default class UserModal extends Vue {
	private apiUrl: string = 'http://api.helmes.local/v1';

	@Prop({default: false})
	public userData!: any;


	@Prop({ default: 'Add new user' })
	public title!: string;

	private sectors: any[] = [];

	private show: boolean = true;

	private showAlert: boolean = false;
	private showDuplicateAlert: boolean = false;


	mounted() {
		axios.get(this.apiUrl + '/sectors').then(response => {
					this.sectors = response.data;
			}, error => {
					console.error(error);
			});
	}

	onSubmit(event) {
			event.preventDefault();

			const formData = {
				...this.userData,
				sectors: this.userData.sectors.map(sector => sector.id),
				password: this.userData.password = '' ? undefined : this.userData.password,
				agreed_to_terms: parseInt(this.userData.checked[0]),
			}
			if (this.validateData(formData)) {
				if (formData.id) {
					axios.put(this.apiUrl + '/users/' + formData.id, formData, {
						headers: { 'jwt-token': (<any>this).token }
					}).then(response => {
							const userModel = {
								...response.data,
								checked: [response.data.agreed_to_terms],
							}
							this.$store.commit('addUser', );
							(<any>this.$refs.userFormModal).hide();
					}, error => {
							console.error(error);
					});
				} else {
					axios.post(this.apiUrl + '/users', formData)
					.then(response => {
							const userModel = {
								...response.data,
								checked: [response.data.agreed_to_terms],
							}
							this.$store.commit('addUser', );
							(<any>this.$refs.userFormModal).hide();
					}, error => {
							console.error(error);
					});
				}
			}
	};

	onReset(event) {
		event.preventDefault();
		/* Reset  form values */
		this.userData.email = '';
		this.userData.name = '';
		this.userData.password = '';
		this.userData.food = null;
		this.userData.sectors = [];
		this.userData.checked = [false];

		/* Trick to reset/clear native browser form validation state */
		this.show = false;
		this.$nextTick(() => { this.show = true });
	}

	cleanPasswordInput() {
		console.log(this.userData.password === '*'.repeat(10));
		if (this.userData.password === '*'.repeat(10)) this.userData.password = '';
	}

	 validateData(data) {
    if (!data.email || !data.sectors.length || !data.checked.length) {
      this.showAlert = true;
      return false;
		}

		if ((<any>this).users.map(user => user.email).indexOf(data.email) > 0) {
      this.showDuplicateAlert = true;
      return false;
		}
    return true;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
h3 {
	margin: 40px 0 0;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	display: inline-block;
	margin: 0 10px;
}
a {
	color: #42b983;
}
</style>
