<template>
  <div>
    <b-container fluid class="main-container">
      <b-row align-h="end" class="controls-row">
        <b-col cols="1">
          <b-button @click="addNew()"
                    variant="success"
                    size="md">Add New User
          </b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-table show-empty striped hover :items="users" :fields="fields">
          <template slot="sectors" slot-scope="row">
            {{row.item.sectors.length}}
          </template>
          <template slot="operations" slot-scope="row">
            <div>
              <b-button :disabled="!(user && user.id === row.item.id)"
                        @click.stop="edit(row.item)"
                        variant="info"
                        size="sm">Edit
              </b-button>
            </div>
          </template>
        </b-table>
      </b-row>
    </b-container>


    <UserModal ref="userModal" :userData="modal.userData" :title="modal.title" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { mapGetters, mapMutations } from 'vuex';
import axios from "axios";

import UserModal from '@/components/UserModal.vue';

@Component({
  components: {
    UserModal
  },
  computed: {
    ...mapGetters({
      user: 'getUser',
      token: 'getToken',
      users: 'getUsers',
    })
  },
  methods: {
    ...mapMutations([
      'updateUsers',
    ])
  }
})
export default class UsersList extends Vue {
  private apiUrl: string = 'http://api.helmes.local/v1';

  private fields: any = [
    {
      key: 'first_name',
      label: 'First Name',
      sortable: true,
    },
    {
      key: 'last_name',
      label: 'Last Name',
      sortable: true,
    },
    {
      key: 'email',
      label: 'Email Address',
      sortable: true,
    },
    {
      key: 'sectors',
      label: 'No of Sectors',
      sortable: true,
    },
    {
      key: 'operations',
      label: 'Operations',
      sortable: false,
    },
  ];

  private modal = {
    title: '',
    userData: {
      id: null,
			first_name: '',
			last_name: '',
			email: '',
			password: '*'.repeat(10),
			checked: [],
			sectors: [],
     }
    }

  mounted() {
    axios.get(`${this.apiUrl}/users`).then(response => {
      this.$store.commit('updateUsers', response.data);
			}, error => {
        console.error(error);
      });
  }

  edit(user) {
    if ((<any>this).user.id === user.id) {
      this.modal.title = 'Update your details';
    }
    else {
      this.modal.title = `Update details for ${user.first_name} ${user.last_name}`;
    }

    this.modal.userData = {
      id: user.id,
      first_name: user.first_name,
      last_name: user.last_name,
      email: user.email,
      password: '',
      checked: [user.agreed_to_terms],
      sectors: user.sectors,
    };

    (<any>(<any>this.$refs.userModal).$refs.userFormModal).show();
  }

  addNew() {
    // initialize modal
    this.modal = {
    title: 'Add new user',
    userData: {
			 first_name: '',
			 last_name: '',
			 email: '',
			 password: '',
			 checked: [],
			 sectors: [],
     }
    };

    (<any>(<any>this.$refs.userModal).$refs.userFormModal).show();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.disabled:hover {
  cursor: not-allowed;
}

.controls-row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

</style>
